.hero {
    color: #e8e4c9;
    position: relative;

    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("images/background2.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.reminder {
    margin: 10px;
    position: absolute;
    bottom: 50px;
}